form(id='login',method='post',action='/signin')
    h1 Log In
    p(style='margin-top:20px;')   #{error}
    fieldset(id='inputs')
        input(id='username',name='username',type='text',placeholder='Username',autofocus='',required='')
        input(id='password',name='password',type='password',placeholder='Passowrd',required='')
     fieldset(id='actions')
        input(type='submit',id='submit',value='Log in')
        a(href='') Forgot your password
        a(href='http://google.com') Register

<script type='text/javascript' src='/css/style.css'></script>