首页
- if (typeof(success) !== 'undefined') {
    != success
- }
p
    a(href='http://localhost:8888/signin') 登录
p
    a(href='http://localhost:8888/signout') 退出
p
    a(href='http://localhost:8888/customer/change_info')更改用户信息