!!! 5
html
      head
          //
                meta
          meta(http-equiv='Content-Type', content='text/html; charset=utf-8')

          - if (typeof(title) == 'undefined') {
          title 509订餐系统
          - } else {
          title #{title}
          - }

            style

          //new fancybox css
          link(rel='stylesheet', type='text/css', href='/libs/jquery.fancybox-1.3.4/fancybox/jquery.fancybox-1.3.4.css', media='screen')

          //jquery ui css
          link(rel='stylesheet', type='text/css', href='/libs/jquery-ui-1.8.21.custom/css/ui-lightness/jquery-ui-1.8.21.custom.css', media='screen')

          //新版本jqGrid css
          link(rel='stylesheet', type='text/css', href='/libs/jquery.jqGrid-4.4.0/css/ui.jqgrid.css', media='screen')

          //other css
          //link(rel='stylesheet', type='text/css', href='/libs/bootstrap/css/bootstrap.css', media='screen')
          link(rel='stylesheet', type='text/css', href='/css/style.css', media='screen')

          //
             script

          //jquery-1.7.2
          script(type='text/javascript', src='/libs/jquery-ui-1.8.21.custom/js/jquery-1.7.2.min.js')

          //以下是JQuery ui的js
          script(type='text/javascript', src='/libs/jquery-ui-1.8.21.custom/js/jquery-ui-1.8.21.custom.min.js')

          //new fancybox
          script(type='text/javascript', src='/libs/jquery.fancybox-1.3.4/fancybox/jquery.easing-1.3.pack.js')
          script(type='text/javascript', src='/libs/jquery.fancybox-1.3.4/fancybox/jquery.fancybox-1.3.4.pack.js')
          script(type='text/javascript', src='/libs/jquery.fancybox-1.3.4/fancybox/jquery.mousewheel-3.0.4.pack.js')

          //new JQGrid
          script(type='text/javascript', src='/libs/jquery.jqGrid-4.4.0/js/i18n/grid.locale-cn.js')
          script(type='text/javascript', src='/libs/jquery.jqGrid-4.4.0/js/jquery.jqGrid.min.js')

          //system
          //script(type='text/javascript', src='/libs/bootstrap/js/bootstrap.js')
          //script(type='text/javascript', src='/javascripts/main.js')

          //ajax-upload
          script(type='text/javascript', src='/libs/ajax-upload/ajaxupload.js')
          //imagesloaded
          script(type='text/javascript', src='/libs/jquery.imagesloaded.min.js')
          //blocksit
          script(type='text/javascript', src='/libs/blocksit.min.js')

          //other
          script(type='text/javascript', src='/libs/jqGrid_fancybox/js/jquery.form.js')
          script(type='text/javascript', src='/libs/jqGrid_fancybox/js/jquery.message.js')
          script(type='text/javascript', src='/js/headline.js')


      body
        //
           navbar
        .navbar
          .navbar-inner
            .container
              div(style='margin-left: 50px;')
                  ul#menu
                  img(style='float: left;', alt='', src='/image/headline/menu_right.png')
              div(style='float: none; clear: both;')
        //
           wrapper
        #wrapper
            #main
                - if (typeof(error) !== 'undefined') {
                    != error
                - }
                #homeDialog
                #main_container
                != body
        //
           footer
        #footer
          #footer_main
            .fr
            div
              strong
                a.dark(href='/about') 关于
              | |
              strong
                a.dark(href='/faq') FAQ
            .sep10
            .col_fade
              南京泛盈软件科技有限公司
              | © 2012
              | 版本:0.01