!!! 5
html
      head
          - if (typeof(title) == 'undefined') {
          title 509订餐系统
          - } else {
          title #{title}
          - }
          link(rel='stylesheet',type='text/css',href='/css/style.css')
          script(type='text/javascript', src='/js/headline.js')
      body

        table#headtable
            tr#headline
                th
                    a(href='http://localhost:8888/') 首页
                th
                    a(href='http://localhost:8888/signin') 登录
                th
                    a(href='http://localhost:8888/signout') 退出
                th
                    a(href='http://localhost:8888/customer/change_info')更改用户信息

        !=body