!!! 5
html
      head
          - if (typeof(title) == 'undefined') {
          title 509订餐系统
          - } else {
          title #{title}
          - }
          link(rel='stylesheet',type='text/css',href='/css/style.css')
          link(rel="stylesheet",type="text/css",media="screen",href="css/ui-lightness/jquery-ui-1.8.22.custom.css")
          link(rel="stylesheet",type="text/css",media="screen",href="css/ui.jqgrid.css",mce_href="css/ui.jqgrid.css")
          script(type='text/javascript', src='/js/headline.js')
          script(src="js/jquery-1.6.3.min.js",mce_src="js/jquery-1.6.3.min.js",type="text/javascript")
          script(src="js/i18n/grid.locale-cn.js",mce_src="js/i18n/grid.locale-cn.js",type="text/javascript")
          script(src="js/jquery.jqGrid.min.js",mce_src="js/jquery.jqGrid.min.js",type="text/javascript")
      body

        table#headtable
            tr#headline
                th
                    a(href='http://localhost:8888/') 首页
                th
                    a(href='http://localhost:8888/signin') 登录
                th
                    a(href='http://localhost:8888/signout') 退出
                th
                    a(href='http://localhost:8888/customer/change_info')更改用户信息

        !=body