!!! 5
html
      head
          - if (typeof(title) == 'undefined') {
          title 509订餐系统
          - } else {
          title #{title}
          - }
          link(rel='stylesheet',type='text/css',href='/css/style.css')
      body!=body