@charset "utf-8";
/* CSS Document */

@charset "utf-8";
/*reset*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, input, textarea, p, th, td { padding:0; margin:0; }
a img { border:0; }
ul { list-style:none; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:12px; }
html { overflow:scroll; }
.hidden { visibility:hidden; }
/*全局*/
body { font-size:12px; font-family:Arial,"宋体"; word-wrap:break-word; word-break:break-all; color:#000;}
a:link { text-decoration:none; }
a:visited { text-decoration:none; }
a:hover { color:#aa0000; text-decoration:underline; }
a:active { text-decoration:none; }
.clear { clear:both; height:0; line-height:0; font-size:0; }
.hide { display:none; }
.b { font-weight:bold; }
.f14 { font-size:14px; }
.f16 { font-size:16px; }
.f18 { font-size:18px; }
.f25 { font-size:25px; }
.mr20{ margin-right:20px;}
.mr10{ margin-right:10px;}
.mb8{ margin-bottom:8px;}
.mb15{ margin-bottom:15px;}
.mb20{ margin-bottom:20px;}
.fl { float:left; }
.fr { float:right; }
.gray { color:#8c8c8c; }
.red{ color:#e00200;}
.fen{ color:#ff6699;}
.gold{ color:#c38732;}
.cc { overflow:hidden; clear:both; zoom:1; display:block; }
.underline { text-decoration:underline; }
/*全*/
.wrap{ width:987px; margin:0 auto;}
h1{ float:left;}
.topbar{ height:29px; line-height:29px; margin-bottom:9px; background:url(images/ico.png) repeat-x; overflow:hidden; oom:1; clear:both;}
.topInfo{ height:60px; float:right; width:242px;}
.topInfo .text{ float:left; width:163px; height:21px; line-height:21px; text-align:left; padding-left:12px; margin-bottom:5px; margin-right:2px; border:#cecece solid 1px;}
.topInfo .text a{ color:#000;}
.topInfo .key{ float:left; padding-left:2px; border-left:#a4a4a4 solid 1px; margin-bottom:5px;}
.topInfo .key a{ display:block; text-decoration:none; width:60px; height:23px; line-height:23px; text-align:center; color:#da0200; background:url(../images/ico.png) 0 -29px;}
.topInfo .infoH{ height:28px;}
.topbar .fl{ padding-left:6px;}
.topR{ float:right; width:242px;}

.nav{ height:40px; background:#000; margin-bottom:8px; clear:both; overflow:hidden; font-family:"微软雅黑";}
.nav .navList{ float:left; padding-left:6px;}
.nav .navList li{ float:left; height:40px; line-height:40px; margin-right:33px; font-size:16px;}
.nav .navList li a{ color:#FFF;}
.nav .navList .selected a,.nav li a:hover{ color:#c8111a; text-decoration:none;}
.nav .keyList{ float:right; padding-top:9px;}
.nav .keyList li{ float:left; margin-left:16px; display:inline;}
.nav .keyList a{ display:block; width:70px; height:22px; color:#000; line-height:22px; background:#FFF; font-size:14px; text-align:center;}
.nav .keyList .selected a,.nav .keyList a:hover{ color:#FFF; background:#ec0100;}

.gg{ height:28px; margin-bottom:8px; line-height:28px; padding-left:28px; background:#ededed url(../images/ico.png) 0 -52px no-repeat; overflow:hidden;}
.gg ul{ float:left;}
.gg li{ float:left; height:28px; padding-left:6px; margin-right:14px; background:url(../images/ico.png) 0 -130px no-repeat;}
.gg .follow{ float:right; line-height:28px; padding-right:38px; background:url(../images/ico.png) right -80px no-repeat; font-size:14px; color:#757575; font-family:"微软雅黑";}

.indexL{ float:left; width:737px; overflow:hidden;}
.indexR{ float:right; width:242px; overflow:hidden;}
.borderB{ border-bottom:#a4a4a4 solid 1px; overflow:hidden; zoom:1; margin-bottom:8px; padding-bottom:5px;}

.focusImg{ height:296px; width:734px; margin-bottom:8px; border:#cccccc solid 1px; position:relative; overflow:hidden;}
.focusImg .bannerScroll{ height:296px; width:734px; overflow:hidden;}
.focusImg ul{ width:800%;}
.focusImg li{ float:left;}
.focusImg .scrollNum{ position:absolute; height:15px; right:0; bottom:4px; float:right;}
.focusImg .scrollNum a{ float:left; background:#000; width:15px; height:15px; margin-right:7px; color:#FFF; text-align:center; line-height:15px;}
.focusImg .scrollNum a:hover,.focusImg .scrollNum .on{ background:#de151a;}
.BigfocusImg{ width:757px; height:320px;} 
.BigfocusImg .bannerScroll{ height:320px; width:757px;}



.enterList{}
.enterList li{ margin-bottom:8px;}
.enterList h2{ height:30px; margin-bottom:8px;}
.enterList .img{ width:735px; height:181px; overflow:hidden; border:#cccccc solid 1px; position:relative;}
.enterList .key{ width:82px; height:24px; position:absolute; right:4px; bottom:10px; background:url(../images/ico.png) 0 -211px;}
.enterList .key.on{ background-position:0 -235px; text-decoration:none;}
.enterList .qd,.enterList .qd.on{ background:url(../images/qd.png) 0 0 no-repeat;}


.newsBox{ height:147px; border:#f60100 solid 1px; margin-bottom:8px;}
.newsBox h3{ height:23px; overflow:hidden;}
.newsBox h3 .tab{ width:240px;}
.newsBox h3 a{ float:left; width:119px; height:22px; border-bottom:#f60100 solid 1px; border-right:#f60100 solid 1px; font-size:14px; color:#FFF; line-height:22px; text-align:center; background:url(../images/ico.png) center -108px;}
.newsBox .selected{ color:#ef0200; font-weight:bold; border-bottom:none; background:#FFF;}
.newsBox .tabDiv ul{ padding:3px 6px 0 6px;}
.newsBox .tabDiv li{ line-height:20px; height:20px; overflow:hidden; padding-left:10px; background:url(../images/ico.png) 0 -260px no-repeat;}
.newsBox .tabDiv li a{ color:#000;}
.newsBox .more{ float:right; color:#adafb1; margin-right:10px; display:inline;}

.bottom{ height:33px; line-height:33px; clear:both; text-align:center; color:#999;}
.bottom a{ color:#999;}


.floatKey{ margin-left:1000px; width:56px; position:fixed; bottom:30px; _position:absolute; _bottom:none; display:none;}
.floatKey a:hover{ text-decoration:none;}
.floatKey .key{ display:block; width:56px; height:34px; line-height:34px; text-align:center; color:#dc0024; margin-bottom:10px; background:url(../images/ico.png) 0 -158px no-repeat;}
.floatKey .gotop{ display:block; width:56px; height:53px; background:url(../images/ico.png) -56px -158px no-repeat;}



.blackT{ height:19px; padding:10px 0 10px 13px; line-height:19px; background:#efefef; margin-bottom:8px;}
.blackT span{ float:left; height:19px; overflow:hidden; font-size:14px; font-weight:bold; color:#c20b05;}
.blackT .border{ border-right:#c20b05 dotted 1px; padding-right:12px; margin-right:12px;}


.cpList{}
.cpList h3{ height:30px; margin-bottom:8px;}
.cpList li{ height:66px; line-height:66px; margin-bottom:8px; border:#d8d4d5 solid 1px; clear:both; overflow:hidden; font-family:"微软雅黑";}
.cpList li .t{ float:left; padding-left:22px; width:180px; font-size:20px; font-weight:bold;}
.cpList li .t a{ color:#000;}
.cpList li .price{ float:left; width:130px; font-size:24px; color:#e00200;}
.cpList li .yh{ float:left; color:#c38732; font-size:14px; font-weight:bold; font-family:"宋体";}
.cpList li .keyOrder{ float:right; width:137px; height:50px; font-size:0; line-height:0; overflow:hidden; background:url(../images/ny.png) no-repeat; margin:9px 9px 0 0; display:inline;}
.cpList li .keyOrder:hover{ text-decoration:none;}
.cpList li .disable{ background-position:0 -50px;}

.help{ float:right; color:#c38732; padding-left:19px; margin-top:8px; background:url(../images/help.png) left no-repeat; cursor:help;}
.helpTC{ position:absolute; width:133px; top:0; left:0; display:none;}
.helpTC .ht{ height:8px; overflow:hidden; font-size:0; line-height:0; background:url(../images/ny.png) 0 -100px no-repeat; _ background:url(../images/ny6.png) 0 -100px no-repeat;}
.helpTC .hf{ height:30px; background:url(../images/ny.png) 0 -128px no-repeat; _ background:url(../images/ny6.png) 0 -128px no-repeat;}
.helpTC .hb{ background:#FFF; padding:0 10px; line-height:18px; color:#737373; border-left:#d8d4d5 solid 1px; border-right:#d8d4d5 solid 1px;}
.bigHelpTC{ width:348px;}
.bigHelpTC .ht{ background:url(../images/help2.png) 0 0 no-repeat; _background:url(../images/help26.png) 0 0 no-repeat;}
.bigHelpTC .hf{ background:url(../images/help2.png) 0 bottom no-repeat; _background:url(../images/help26.png) 0 bottom no-repeat;}




/*底部链接*/
.footLink{ height:181px; border:#d0d0d0 solid 1px; background:#f1f1f1;}
.footLink .box{ float:left; width:140px; height:161px; padding:20px 0 0 42px; border-right:#d0d0d0 dashed 1px;}
.footLink .box h3{ height:21px; font-size:16px; font-weight:bold; color:#333333; padding-left:26px; background:url(../images/linkIco.png) no-repeat; overflow:hidden; line-height:26px;}
.footLink .box .ico1{ background-position:0 0;}
.footLink .box .ico2{ background-position:0 -25px; padding-left:28px;}
.footLink .box .ico3{ background-position:0 -50px;}
.footLink .box .ico4{ background-position:0 -75px;}
.footLink .box .ico1.hover{ background-position:0 -150px;}
.footLink .box .ico2.hover{ background-position:0 -175px;}
.footLink .box .ico3.hover{ background-position:0 -200px;}
.footLink .box .ico4.hover{ background-position:0 -225px;}

.footLink ul{ padding-left:12px; padding-top:10px;}
.footLink li{ height:20px; line-height:20px; padding-left:16px; background:url(../images/linkIco.png) 0 -104px no-repeat;}
.footLink a{ color:#8a8a8a;}
.footLink .last{ border:none;}

.scLink{ height:30px; line-height:30px; margin-bottom:8px; padding:4px 0 3px 0; border:#cccccc solid 1px;}
.scLink .t{ float:left; width:116px; font-family:"微软雅黑"; font-size:14px; color:#020202; text-align:center;}
.scLink div{ float:left; width:114px; height:30px; text-align:center; color:#FFF; background:#c20b05; margin-left:8px; display:inline;}


.title{ height:30px; line-height:30px; clear:both; margin-bottom:8px;}
/*菜品列表*/
.cList{ overflow:hidden; zoom:1; padding-bottom:10px; width:748px;}
.cList li{ float:left; line-height:20px; width:176px; height:216px; margin-right:11px; text-align:center;}
.cList li a{ color:#000;}
.cList li .price{ padding-top:3px;}
.cList .img{ width:174px; height:158px; margin-bottom:8px; border:#cccccc solid 1px; overflow:hidden; position:relative;}
.cList .none{ display:block; width:176px; height:50px; background:url(../images/none.png) no-repeat; position:absolute; left:0; top:57px;}
.cList .none2{ display:block; width:176px; height:50px; background:url(../images/none.png) no-repeat; position:absolute; left:0; top:57px;}

/* 招牌菜 */
.cList .sales{ display:block; width:176px; height:80px; background:url(../images/zpc_sales.png) no-repeat; _background:url(../images/zpc_sales6.png) no-repeat; position:absolute; left:0; top:0px;}

.cList5{ width:740px;}
.cList5 li{ width:144px; height:197px; margin-right:4px;}
.cList5 li .img{ width:142px; height:142px; border:#cccccc solid 1px;}
.cList5 li .bg{ position:absolute; width:142px; height:21px; background:#c60200; z-index:1; filter:alpha(opacity=80);-moz-opacity:0.8;-khtml-opacity:0.8; opacity:0.8; top:0; left:0;}
.cList5 li .t{ width:126px; padding:0 8px; color:#FFF; font-weight:bold; height:21px; line-height:21px; position:absolute; top:0; left:0; z-index:2;}
.cList5 li .none{ display:block; width:144px; height:38px; left:-1px; top:61px; background:url(../images/none2.png) no-repeat;}

/* 家常菜促销 */
.cList5 li .sales{position:relative; display:block; width:142px; height:51px; right:0px; top:-121px; background:url(../images/jcc_sales.png) no-repeat;}
.cList5 .new{ display:block; width:51px; height:42px; background:url(../images/new.png) no-repeat; _background:url(../images/new6.png) no-repeat; position:absolute; left:0px; top:18px;}



/*修改列表*/
.NewcList li{ height:240px;}
.NewcList .img{ height:174px;}
.NewcList .new{ display:block; width:57px; height:42px; background:url(../images/new.png) no-repeat; _background:url(../images/new6.png) no-repeat; position:absolute; left:0; top:0px;}


.topLine{ clear:both; height:36px; background:url(../images/xwcLine.png) bottom repeat-x;}
.topLine a{ font-size:14px; color:#333; margin:0 10px;}

.lunbo{ float:left; width:391px; height:220px; margin-bottom:8px; overflow:hidden;}
.lunbo .bigImg{ float:left; width:286px; height:219px; overflow:hidden;}
.lunbo .smallImg{ float:right; width:93px; height:231px; }
.lunbo .smallImg li{ height:66px; margin-bottom:11px; cursor:pointer;}
.lunbo .smallImg img{ float:right; border:#c1c1c1 solid 1px;}
.lunbo .smallImg .on{ background:url(../images/redL.png) left center no-repeat;}
.lunbo .smallImg .on img{ border:#cc0000 solid 1px;}

.caiInfo{ float:right; width:323px; margin-bottom:8px;}
.caiInfo h2{ height:40px; line-height:40px; text-align:center; font-size:20px; color:#971a13; font-family:"微软雅黑"; border-bottom:#b3b3b3 dashed 1px;}
.caiInfo .h{ line-height:21px; border-bottom:#b3b3b3 dashed 1px; padding:8px 0; font-size:14px; color:#3a3a3a;}
.caiInfo .h strong{ color:#010101;}
.caiInfo .fl{ width:145px; color:#000; font-size:14px; font-weight:bold; padding-top:8px; text-align:right; line-height:21px;}
.caiInfo .fr{ width:145px; color:#971a13; font-size:14px; font-weight:bold; padding-top:8px; line-height:21px;}
.caiInfo .help{ float:left; font-size:12px; font-weight:400; margin-top:0;}
.caiInfo .price{ text-align:center; padding-top:50px; font-size:14px; font-weight:bold; color:#000;}
.caiInfo .price .red{ font-size:20px; font-weight:bold; color:#c20b05; font-family:Arial;}
.caiInfo .price .gray{ font-size:20px; font-weight:bold; color:#636363; font-family:Arial;}
.caiInfo .price .black{ color:#000;}
.caiInfo .price .jifen{ color:#c20b05; }
.caiInfo .del{ text-decoration:line-through; color:#971a13;}


.step{ height:30px; margin-bottom:8px; background:#971a13; clear:both;}
.step img{ float:left;}
.step .time{ float:left; margin-top:4px; width:96px; height:20px; line-height:20px; border:#cdd1d5 solid 1px; color:#8080ad; text-align:center;}
.step .jf{ font-size:14px; font-weight:bold; color:#FFF; line-height:30px; padding-right:15px;}

.orderBox{ border:#b3b0b0 solid 1px; overflow:hidden; zoom:1;}
.orderBox .div1{ width:691px; min-height:110px; line-height:30px; text-align:center; padding:0 5px; border-bottom:#b2afaf solid 1px; overflow:hidden;}
.orderBox .orderTable{ border-collapse:collapse;}
.orderBox .orderTable tr{ border-bottom:#b3b3b3 dashed 1px; line-height:33px;}
.orderBox .orderTable .t{ font-size:14px; font-weight:bold; color:#971a13; line-height:40px;}
.orderBox .orderTable .del{ text-decoration:line-through;}
.orderBox .orderTable img{ vertical-align:middle;}
.orderBox .orderTable .help{ margin:0; padding:0; background:none; float:none; margin-right:-15px; margin-left:5px;}
.orderBox .lTd1{ background:#971a13 url(../images/b.png) bottom no-repeat;}
.orderBox .lTd2{ background:#971a13;}

.cNum{ width:54px; height:16px;}
.cNum .keyL,.cNum .keyR{ float:left; width:13px; height:16px; font-size:0; line-height:0; overflow:hidden; background:url(../images/num.png) no-repeat;}
.cNum .keyR{ background-position:right 0;}
.cNum .keyL:hover,.cNum .keyR:hover{ background-position-y:-16px;}
.cNum .num{ float:left; width:28px; height:14px; line-height:14px; text-align:center; border-bottom:#aeaeae solid 1px; border-top:#aeaeae solid 1px; color:#737373;}

.cOrderList{ width:680px; padding:10px 0 0 16px; margin-bottom:11px; min-height:105px; _height:105px;}
.cOrderList li{ float:left; width:158px; height:144px; margin:0 12px 10px 0;}
.cOrderList li .img{ width:158px; height:117px; position:relative;}
.cOrderList li .img .bg{ position:absolute; width:158px; height:22px; background:#000000; filter:alpha(opacity=70);-moz-opacity:0.7;-khtml-opacity:0.7; opacity:0.7; bottom:0; left:0; z-index:1;}
.cOrderList li .img .t{ position:absolute; bottom:0; left:0; width:158px; height:22px; line-height:22px; text-align:center; z-index:2; color:#FFF;}
.cOrderList li .price{ color:#ff0e00; font-size:14px; font-weight:bold; font-family:Arial; margin-left:2px;}
.cOrderList .sl{ height:16px; color:#737373; line-height:16px; padding:5px 0 5px 32px; border:#b9b9b9 solid 1px; border-top:none;}
.cOrderList .cNum{ margin:0 3px;}

/* 增配餐品售罄显示 */
.cOrderList li .img .none{ display:block; width:158px; height:116px; left:0px; top:0px; background:url(../images/none3.png) no-repeat; position:absolute; }


.addCar{ height:37px; padding:9px 0; border-top:#b3b3b3 dashed 1px; clear:both;}
.addCar img{ display:block; margin:0 auto;}



.xwcT{ margin-bottom:8px;}
.xwcT img{ margin-bottom:3px;}

.xwcT .text{ width:345px; padding-left:15px; line-height:31px; font-size:18px; color:#FFF; font-family:"微软雅黑"; height:31px; background:#333333; border-top:#bcbcbc solid 1px;}

.xwcList{}
.xwcList li{ float:left; width:176px; height:223px; margin-right:8px; line-height:18px; color:#000;}
.xwcList li .img{ height:160px; margin-bottom:8px;}
.xwcList li .text{ padding-left:20px;}
.xwcList li a{ color:#ed145b;}

.ddStep{ height:34px; background:url(../images/ddStep.png) no-repeat;}
.ddStep2{ background-position:0 -34px;}
.ddStep3{ background-position:0 -68px;}
.ddTip{ height:31px; line-height:31px; font-size:14px; color:#737373;}
.ddTip span,.ddTip img{ vertical-align:middle;}
.ddTable{ border:#cccccc solid 1px; border-collapse:collapse; margin-bottom:3px; font-size:14px;}
.ddTable .t{ height:27px; font-size:14px; font-weight:bold; color:#000; background:url(../images/ddTbg.png) repeat-x;}
.ddTable .t tr,.ddTable .t td{ background:url(../images/ddTbg.png) repeat-x; border:#cccccc solid 1px; border-collapse:collapse;}
.ddTable .c,.ddTable .c td{ height:35px; line-height:35px; color:#737373; border-bottom:#cccccc dashed 1px;}
.ddTable .name{ display:block; text-align:center;}
.ddTable .del{ text-decoration:line-through;}
.ddTable .help{ margin:0; padding:0; background:none; float:none; margin-right:-15px; margin-left:5px;}
.ddTable img{ vertical-align:middle;}
.ddTable .keyDel{ color:#a90008;}
.ddTable .borderB,.ddTable .borderB td{ height:34px; border-bottom:#cccccc solid 1px;}
.ddTable .clearCar{ float:left; margin-left:33px; display:inline; color:#c9151e; font-size:14px; line-height:86px;}
.ddTable .btnBox{ float:right; margin-top:20px;}


.ddbt{ font-family:"微软雅黑"; font-size:18px; color:#939393; font-style:italic; line-height:40px; height:40px;}
.borderTable{ margin-bottom:8px;}
.borderTable,.borderTable tr,.borderTable td{ border:#cccccc solid 1px; border-collapse:collapse; line-height:27px; font-size:14px;}
.borderTable .gray{ color:#717171; padding-left:10px;}
.ChooseCj{}
.ChooseCj h3,.ChooseCj h4{ width:183px; height:27px; line-height:27px; margin-bottom:1px; color:#FFF; font-size:14px; font-weight:bold; color:#c9151e;}
.ChooseCj h4{ color:#000;}
.ChooseCj input,.ChooseCj span,.ChooseCj img{ vertical-align:middle; margin-right:5px;}
.ChooseCj .face{ display:none;}

/*支付方式*/
.zhiFuList{ margin-bottom:12px;}
.zhiFuList li{ height:60px; overflow:hidden; clear:both;}
.zhiFuList input{ float:left; margin:12px 10px 0 0;}
.zhiFuList img{ float:left;}
.zhiFuList .text{ float:left; padding-left:8px; line-height:20px; color:#717171; font-size:12px;}

.fkKeyBox{ padding-left:25px; margin-bottom:8px;}
.fkKeyBox img,.fkKeyBox input{ vertical-align:middle; margin-right:10px;}


.ddSuccessBox{ width:797px; border:#cccccc solid 1px; padding:20px 94px 10px 94px; margin:16px 0 10px 0; }
.ddSuccessBox .red2{ color:#ff0000;}
.ddSuccessBox .red{ color:#a90008;}
.ddSuccessBox .topBorder{ width:650px; height:100px; border-bottom:#cccccc solid 1px; margin:0 auto 29px auto;}
.ddSuccessBox .topBorder img{ display:block; margin:0 auto;}
.ddSuccessBox .mb0{ margin-bottom:0;}

.ddSuccessBox .textBox{ border-top:#b3b3b3 dashed 1px; padding-top:10px; padding-bottom:10px;}
.ddSuccessBox .textBox h3{ line-height:26px; color:#c9151e; font-size:14px;}
.ddSuccessBox .textBox ul{}
.ddSuccessBox .textBox li{ line-height:20px; color:#737373; font-size:14px;}



.autoKey{ height:22px; padding:15px 0; clear:both;}
.autoKey .key{ float:left; margin-left:10px; background:url(../images/autoKey.png) left 0 no-repeat; display:inline;}
.autoKey .key span{ float:left; margin-left:12px; padding-right:12px; background:url(../images/autoKey.png) right 0; height:22px; line-height:22px; color:#FFF;}


.zfbTC{ position:absolute;  left:50%; top:50%; margin-left:-220px; margin-top:-170px; width:440px; height:340px; background:#FFF; border:#aeaeae solid 1px; display:none; z-index:999;}
.zfbTC h2{ height:48px; background:#f9f9f9; border-bottom:#aeaeae solid 1px; padding-left:15px; line-height:48px; font-size:14px; font-weight:bold; color:#000;}
.zfbTC .box{ padding:20px 0 0 60px; line-height:30px; color:#000;}
.zfbTC .tip{ height:80px; padding-left:100px; line-height:80px; background:url(../images/tip.png) left no-repeat; font-weight:bold; color:#000; margin-bottom:20px;}
.zfbTC .autoKey{ overflow:hidden; clear:both; zoom:1;}
.zfbTC .autoKey a{ float:left; height:29px; background:url(../images/zfbTC.png) left 0 no-repeat; margin-right:10px;}
.zfbTC .autoKey a span{ float:left; margin-left:17px; padding-right:17px; height:29px; line-height:29px; font-size:14px; color:#FFF;}
.zfbTC .goBack{ float:left; color:#c9151e; font-size:14px; padding-left:12px; background:url(../images/zfbTC.png) 0 -43px no-repeat;}
#pageBG{ width:100%; height:100%; background:#000; filter:alpha(opacity=80);-moz-opacity:0.8;-khtml-opacity:0.8; opacity:0.8; position:absolute; left:0; top:0; z-index:998;}
.tsText{ line-height:20px; font-size:14px; color:#737373; padding-top:20px; padding-bottom:30px;}



/*个人中心*/
.grzx{ margin-bottom:6px; overflow:hidden; zoom:1;}
.gLeft{ float:left; width:124px; border:#cccccc solid 1px; border-bottom:none;}
.gLeft h3{ height:31px; background:url(../images/gbg.png) no-repeat; border-bottom:#cccccc solid 1px;}
.gLeft h4{ height:30px; line-height:30px; background:#f2f0f0 url(../images/gbg.png) 0 -31px no-repeat; border-bottom:#cccccc solid 1px; font-size:14px; font-weight:bold; color:#333333; padding-left:30px;}
.gLeft h4 a{ color:#333;}
.gLeft h4.ico2{ background-position:0 -61px;}
.gLeft li{ height:30px; line-height:30px; padding-left:35px; border-bottom:#cccccc solid 1px; color:#333;}
.gLeft li a{ color:#333;}
.gLeft .icoMsg{ background:url(../images/msg.gif) 16px center no-repeat;}

.gRight{ float:right; width:841px; border:#cdcdcd solid 1px; min-height:527px;}
.gRight h3{ border-bottom:#cccccc solid 1px; height:32px; line-height:32px; padding:0 15px; background:url(../images/gbg.png) 0 -91px repeat-x;}
.gRight h3 .t{ float:left; font-size:14px; font-weight:bold; color:#000;}
.gRight h3 .cz{ float:right; font-size:15px; font-weight:bold; color:#000;}
.gRight h3 .cz em{ color:#a10300; margin:0 3px; font-style:normal;}
.gRight .box{ min-height:463px;}
.gRight .fy{ height:30px; clear:both; border-top:#cdcdcd solid 1px; text-align:center; line-height:30px; color:#333333;}
.gRight .fy a,.gRight .fy span{ margin:0 6px;}
.gRight .fy a{ color:#333333;}
.gRight .fy .on{ font-weight:bold; color:#c60404;}

.gRight .listTable{ text-align:center; color:#8d8d8d;}
.gRight .listTable a{ color:#8d8d8d;}
.gRight .listTable tr,.gRight .listTable td{ border-bottom:#b3b3b3 dashed 1px; border-collapse:collapse; line-height:29px;}
.gRight .listTable thead tr,.gRight .listTable thead td{ border-bottom:#cdcdcd solid 1px; line-height:30px; font-size:14px; font-weight:bold; color:#FFF; text-align:center; background:#464646;}
.gRight .listTable .line{}
.gRight .listTable .line td{ border-right:#cccccc solid 1px;}

.keyRed{ height:19px; line-height:19px; background:#c9151e; color:#FFF; padding:0 7px; border:none;}
.keyRed:hover{ color:#FFF;}
.keyRedB{ height:29px; line-height:29px; background:#c9151e; color:#FFF; font-size:14px; font-weight:bold; padding:0 7px; border:none;}
.keyRedB:hover{ color:#FFF;}
.gRight h3 .keyRed{ float:right; margin-top:6px;}
.gRight .h{ line-height:30px; color:#464646; padding-left:16px;}
.gRight .red{ color:#af0200;}
.tb{ height:21px; line-height:21px; border:#dedede solid 1px; background:url(../images/tb.png) repeat-x; padding:0 5px; color:#333; margin-right:5px;}
.gray2{ color:#696969;}
._keySqfp{ display:block; text-align:center; font-weight:bold; font-size:14px; width:110px; height:29px; line-height:29px; margin:0 auto;}


.allTC{ position:absolute; left:50%; top:50%; margin-left:-220px; width:440px; border:#aeaeae solid 1px; background:#FFF; z-index:999;}
.allTC h2{ height:48px; line-height:48px; background:#f9f9f9; border-bottom:#aeaeae solid 1px; padding:0 16px; font-size:14px; font-weight:bold; color:#000;}
.allTC h2 .close{ float:right; color:#898989; font-size:12px; font-weight:400;}
.sqfpTC{ height:200px; margin-top:-100px; display:none;}
.sqfpTC .box{ padding:12px 0 0 26px; line-height:30px;}
.sqfpTC .text1{ width:170px;}
.sqfpTC .text2{ width:286px;}
.sqfpTC .keyRed{ float:left; margin-left:95px; margin-top:8px; height:25px; line-height:25px; font-size:14px; font-weight:bold; display:inline;}

.selBox{ width:250px; padding:4px; border:#acacac solid 1px;}
.selBox select{ border:none; border:0; width:250px; font-size:14px; color:#adadad; vertical-align:middle;}

.formTable{ line-height:39px;}
.formTable th{ font-weight:400; padding-right:10px; font-size:14px;}
.formTable .tb{ height:27px; line-height:27px; width:248px; color:#adadad; font-size:14px;}


.lineTable{ text-align:center; color:#8d8d8d;}
.lineTable a{ color:#8d8d8d;}
.lineTable,.lineTable tr,.lineTable td{ border:#cdcdcd solid 1px; border-collapse:collapse; line-height:18px;}
.lineTable thead tr,.lineTable thead td{ line-height:20px; font-size:14px; font-weight:bold; color:#FFF; text-align:center; background:#464646;}
.lineTable td{ padding:5px 0;}


.czTable{ font-size:14px; line-height:18px;}
.czTable .gray{ color:#717171;}
.czTable .sel1{ width:120px; margin-left:5px;}
.fxTip{ padding:12px 0; border-bottom:#b3b3b3 dashed 1px; border-top:#b3b3b3 dashed 1px; height:16px;}
.fxTip span{ float:left; height:16px; line-height:16px; font-size:14px; color:#717171; padding:0 16px; border-right:#b3b3b3 dashed 1px;}
.fxTip span.last{ border:none;}

.czBox{ width:520px; padding-top:70px; margin:0 auto; text-align:center;}
.czBox .mb30{ margin-bottom:30px;}
.czBox .czInfo{ line-height:25px; font-size:14px; color:#000; margin-bottom:15px;}
.czBox .u{ color:#c81117;}
.czBox .price{ font-size:18px; color:#b1100c; font-family:Arial;}
.czBox .tip{ text-align:left; padding-left:60px; line-height:20px; color:#737373; font-size:14px;}


.systemMessage{}
.systemMessage div{ float:left; height:35px; line-height:35px; overflow:hidden; text-align:center; color:#7a7a7a;}
.systemMessage .div1{ width:460px; text-align:left;}
.systemMessage .div2{ width:90px;}
.systemMessage .div3{ width:110px;}
.systemMessage h4{ height:27px; line-height:27px; border-bottom:#dcdcdc solid 1px; background:#f3f3f3;}
.systemMessage h4 div{ height:27px; line-height:27px; color:#3f3f3f; text-align:center; background:url(../images/lineT.png) right no-repeat;}
.systemMessage h4 .div1{ text-align:center;}
.systemMessage h4 .last{ background:none;}
.systemMessage .div1 input,.systemMessage h4 a{ vertical-align:middle;}
.systemMessage li{ border-bottom:#dddddd solid 1px; overflow:hidden; zoom:1;}
.systemMessage .ipt{ float:left; margin:10px 8px 0 10px;}
.systemMessage .bt{ float:left; color:#000; background:url(../images/down.png) left no-repeat; padding-left:14px;}
.systemMessage .bt.wd{ font-weight:bold;}
.systemMessage .text{ display:none; height:auto; float:none; width:auto; overflow:hidden; zoom:1; clear:both; border-top:#b3b3b3 dashed 1px; padding:10px 20px; color:#7d7d7d; line-height:25px;}
.systemMessage .btnDel{ float:left; width:56px; height:24px; line-height:24px; text-align:center; color:#000; background:url(../images/btn.png) no-repeat; margin-top:5px;}


.myYJ{ border-top:#dcdcdc solid 1px;}
.myYJ .div1{ width:628px; }
.myYJ li,.myYJ h4{ padding-left:12px;}
.myYJ li .div1{ background:url(../images/down.png) left no-repeat;}
.myYJ .text{ background:url(../images/fkUp.png) left no-repeat; padding-left:15px; padding-right:0; display:block;}
.myYJ .divCon{ width:612px; padding-bottom:8px; height:auto; line-height:18px; color:#878787; font-size:12px; padding-left:16px; text-align:left; display:none;}
.myYJ .msg{ vertical-align:middle; margin-right:5px;}


.fkBox{ margin:10px auto 20px auto; padding-top:5px; width:818px; border:#c4c4c4 solid 1px; background:#f2f2f2; padding-bottom:10px;}
.fkBox h5{ height:26px; line-height:26px; font-weight:bold; color:#FFF; padding-left:10px; margin-bottom:10px; background:url(../images/fkT.png) repeat-x;}
.fkBox .textBig{ display:block; width:806px; height:121px; border:#b5b8c8 solid 1px; margin:0 auto 10px auto; overflow-y:auto;}
.fkBox .btn{ margin:0 10px 0 5px; cursor:pointer;}


.grzl{ line-height:40px;}
.grzl td{ padding-right:20px;}
.grzl .text1{ width:315px; height:22px; line-height:22px; border:#cccccc solid 1px; padding:0 5px;}
.grzl .text2{ width:215px; height:22px; line-height:22px; border:#cccccc solid 1px; padding:0 5px;}
.grzl  .sel2{ margin-right:5px;}
.grzl .keyRed{ border:none; margin-right:10px; cursor:pointer;}

.tsPage{ width:720px; padding:92px 0 110px 0; margin:0 auto;}
.tsPage .box{ height:209px; border:#d3d3d3 solid 1px; background:url(../images/tsBG.png) repeat-x; font-family:"微软雅黑";}
.tsPage .box h2{ height:44px; padding-left:324px; line-height:44px; font-size:14px; margin-bottom:30px;}
.tsPage .success{ background:url(../images/tytip.png) 280px 0 no-repeat;}
.tsPage .fail{ background:url(../images/tytip.png) 280px -50px no-repeat;}
.tsPage .red{ line-height:36px; font-size:20px; text-align:center;}
.tsPage .tz{ line-height:30px; text-align:center; color:#2e2e2e; font-size:14px;}


.regBox{ width:450px; float:left; font-size:14px; padding-left:50px; padding-bottom:60px; padding-right:45px; border-right:#e3e3e3 dashed 1px; overflow:hidden;}
.regBox .regTitle{  font-family:"黑体"; height:70px; border-bottom:#b3b3b3 dashed 1px; line-height:35px; margin-bottom:10px;}
.regBox.loginT{ float:right; padding-right:0; padding-left:0; width:400px; border:none;}
.regBox .regTitle .red{font-size:25px; color:#c9151e;}
.regBox .regTitle .black{ font-size:20px; color:#000;}
.regBox .regTitle div{ width:110px; text-align:right;}
.regBox table{ line-height:39px;}
.regBox table th{ font-weight:400; padding-right:14px;}
.regBox .tb{ width:248px; height:27px; border:#98a1a7 solid 1px; font-size:14px; color:#adadad; background:url(../images/regTb.png) repeat-x; vertical-align:middle;}
.regBox .tb select{ width:248px; border:none; border:0; margin-top:5px;font-size:14px; color:#adadad; }
.regBox .keyRed{ float:right; margin-right:5px; border:none; width:80px; height:29px; background:#c9151e; color:#FFF; font-size:14px; font-weight:bold; display:inline; cursor:pointer;}
.regBox .btnLogin{ float:left; margin-right:8px; margin-top:5px;}
.regBox .blue{ color:#3366cc;}
.regBox .textYZM{ width:68px; margin-right:8px;}
.regPageBox{ padding-top:10px;}
.loginPageBox .regBox{ float:right; border-left:#e3e3e3 dashed 1px; border-right:none; padding-left:25px;}
.loginPageBox .loginT{ border-left:none; padding-right:30px;}


.peiSongTC{ }
.peiSong{ width:768px; border:#cdcdcd solid 1px; background:#FFF; overflow:hidden; min-height:300px;}
.peiSong h2{ height:32px; line-height:32px; padding-left:22px; padding-right:20px; font-size:18px; color:#c9151e; font-family:"微软雅黑"; background:url(../images/tcbg.png) repeat-x ;border-bottom:#cdcdcd solid 1px;}
.peiSong .close{ float:right; color:#424242; font-size:12px; font-weight:400;}
.peiSong .tab{ height:29px; line-height:29px;border-bottom:#cdcdcd solid 1px;}
.peiSong .tab a{ float:left; width:255px; background:#464646; color:#FFF; font-size:14px; font-weight:bold; text-align:center; border-right:#cdcdcd solid 1px; height:29px;}
.peiSong .tab .on{ color:#464646; background:#FFF;}
.peiSong .dqTab{ height:30px; line-height:30px; padding:15px 0 16px 23px;}
.peiSong .dqTab a{ float:left; width:81px; height:28px; line-height:28px; color:#464646; font-size:14px; font-weight:bold; border:#cb0505 solid 1px; margin-right:8px; text-align:center;}
.peiSong .dqTab .on{ background:#cb0505; color:#FFF;}
.peiSong .dqBox{}
.peiSong .dqBox h5{ height:36px; line-height:36px; border-top:#b3b3b3 dashed 1px; color:#cb0505; font-size:14px; font-weight:bold; letter-spacing:5px;}
.peiSong .dqBox .div1,.peiSong .dqBox .div2{ float:left; height:34px; line-height:34px; padding-left:26px; overflow:hidden;}
.peiSong .dqBox .div1{ width:277px; border-right:#b3b3b3 solid 1px;}
.peiSong .dqBox .div2{ width:438px;}
.peiSong .dqBox h5 .div1{ height:36px;}
.peiSong .dqBox li{ height:34px; border-top:#b3b3b3 dashed 1px; color:#737373; font-size:14px;}


.ggPage{}
.ggPage .ggLeft{ float:left; width:180px; margin-bottom:8px;}
.ggPage .ggRight{ float:right; width:772px; padding:0 12px; border:#cccccc solid 1px; min-height:541px; margin-bottom:8px;}
.ggPage .ggLeft a{ color:#000;}
.ggPage .ggLeft .box{ border:#ccc solid 1px; border-bottom:none; margin-bottom:7px;}
.ggPage .ggLeft .box h3{ height:31px; line-height:31px; padding-left:30px; font-size:14px; font-weight:bold; border-bottom:#ccc solid 1px; background:url(../images/ggleft.png) repeat-x;}
.ggPage .ggLeft li{ height:29px; line-height:29px; border-bottom:#ccc solid 1px; padding-left:30px; font-size:14px;}

.ggPage .ggRight h4{ height:40px; line-height:40px; margin-bottom:5px; font-size:18px; color:#cd0109; font-family:"微软雅黑";}
.ggPage .ggText{ line-height:28px; color:#000; font-size:14px;}
.ggPage .qTitle{ line-height:25px; height:25px; font-size:14px; font-weight:bold; color:#cd0109; text-align:center;}
.ggPage .qTitleL{ line-height:25px; height:25px; font-size:14px; font-weight:bold; color:#cd0109;}
.ggPage .qTable,.ggPage .qTable tr,.ggPage .qTable td{ line-height:18px; font-size:14px; color:#3b3b3b; border:#8e8e8e solid 1px; border-collapse:collapse;}
.ggPage .qTable td{ padding:2px 0;}
.ggPage .qTable{ margin-bottom:8px;}
.ggPage .qTable .t td{ color:#000; font-weight:bold;}
.ggPage .textC{ font-size:14px; color:#3b3b3b; text-align:center; line-height:18px;}
.ggPage .textList{}
.ggPage .textList li{ height:34px; line-height:34px; font-size:14px; border-bottom:#b3b3b3 dashed 1px;}
.ggPage .textList li a{ color:#000;}
.ggPage .textShow{}
.ggPage .textShow h5{ font-size:14px; font-weight:bold; color:#000; text-align:center; line-height:35px; border-bottom:#b3b3b3 dashed 1px;}
.ggPage .textShow .text{ font-size:14px; color:#000; line-height:25px; padding:10px 10px; min-height:400px;}
.ggPage .textShow .back{ text-align:right; line-height:30px; font-size:14px; color:#393939; font-size:14px; padding-right:15px;}
.ggPage .textShow .back a{ color:#393939;}

.ggPage .fy{ height:30px; clear:both; text-align:center; line-height:30px; color:#333333; padding-top:10px;}
.ggPage .fy a,.gRight .fy span{ margin:0 6px;}
.ggPage .fy a{ color:#333333;}
.ggPage .fy .on{ font-weight:bold; color:#c60404;}

.qList{}
.qList li{ margin-bottom:15px;}
.qList .btKey{ color:#3d3d3d; font-size:14px; font-weight:bold; height:33px; line-height:33px; padding:0 10px; overflow:hidden; display:block; border:#c9151e solid 1px; background:url(../images/qjt.png) right bottom no-repeat;}
.qList .btKey.on{ background-position:right top;}
.qList .qText{ line-height:22px; font-size:14px; color:#333333; padding:10px 18px 0 16px; display:none;}


.fwTitle{ height:35px; line-height:35px; font-size:25px; font-weight:bold; color:#b30000; border-bottom:#333333 solid 3px; margin-bottom:8px;}
.fwL{ float:left; width:757px;}
.fwR{ float:right; width:220px;}
.fwBox{ border:#dadada solid 1px; margin-bottom:8px;}
.fwBox .fwT{ height:35px; line-height:35px; padding-left:10px; background:url(../images/fw.png) repeat-x; margin-bottom:10px;}
.fwBox .fwT span{ float:left; padding-left:20px; background:url(../images/fw.png) 0 -35px no-repeat; height:35px; font-weight:bold; color:#000;}
.fwBox .fwT a{ float:left; width:86px; height:36px; line-height:39px; text-align:center; font-size:14px; font-weight:bold; color:#000; border-right:#dadada solid 1px; border-bottom:#dadada solid 1px;}
.fwBox .fwT .select{ float:left; border-bottom:none; color:#b30000; width:70px; font-size:14px; line-height:36px;}
.fwBox .fwT .border{ float:left; height:36px; line-height:36px; width:883px; border-bottom:#dadada solid 1px; border-left:#dadada solid 1px;}
.fwBox .hzList{ padding-left:8px; padding-right:16px;}
.fwBox .hzList li{ line-height:20px; margin-bottom:10px;}
.fwBox .hzList a{ color:#000;}
.fwBox .text{ line-height:28px; padding-left:8px;}
.fwBox .email{ font-family:Arial; font-size:11px;}

.tableBorder{ line-height:25px;}
.tableBorder,.tableBorder tr,.tableBorder td,.tableBorder th{ border:#999 solid 1px; border-collapse:collapse;}

.spaqBox{ width:806px; margin:0 auto; padding-top:15px; margin-bottom:15px;}
.spaqBox h4{ height:36px; line-height:36px; padding:0 10px; font-weight:bold; background:url(../images/spaqT.png) no-repeat;}
.spaqBox .spaqList{ padding-top:20px; width:760px; margin:0 auto;}
.spaqBox .spaqList li{ width:144px; height:140px; float:left; margin:0 23px; text-align:center; line-height:30px; color:#424242;}
.spaqBox .spaqList .imgBox{ width:142px; height:100px; border:#bcbcbc solid 1px;}
.spaqBox .box{ border:#dcdcdc solid 1px; border-top:none; overflow:hidden; zoom:1;}

._help{ cursor:help;}
.erroText{ font-size:12px;}

.Prompt{ height:250px;}
.Prompt .title{ display:block; margin-bottom:26px; height:50px; line-height:50px; border-bottom:#b3b3b3 dashed 1px; padding-left:6px; font-size:23px; color:#d4151e; font-family:"微软雅黑";}
.Prompt .text{ width:372px; height:27px; border:#98a1a8 solid 1px; padding:0 5px; background:url(../images/textbg.png) repeat-x;}
.Prompt .textTip{ color:#d90009; line-height:30px; padding-left:40px;}
.Prompt .btn_w{ width:80px; height:29px; background:#c9151e; font-size:14px; font-weight:bold; line-height:29px; text-align:center; color:#FFF; border:none; cursor:pointer; margin:5px 0 0 340px;}
.Prompt li{ height:39px; line-height:27px; clear:both;}
.Prompt li .l{ float:left; width:75px; text-align:right; font-size:14px; color:#000000;}
.Prompt li .r{ float:left; width:259px;}
.Prompt li .Email{ font-family:Arial;}
.Prompt li .text1{ width:247px; height:27px; padding:0 5px; border:#98a1a8 solid 1px; background:url(../images/textbg.png) repeat-x;}
.Prompt .btn_b{ width:80px; height:29px; line-height:29px; float:right; background:#c9151e; font-size:14px; font-weight:bold; line-height:29px; text-align:center; color:#FFF; border:none; cursor:pointer;}


.topTip{ height:29px; line-height:29px; background:#ededed; margin-bottom:8px;}
.topTip em{ float:left; width:66px; height:21px; margin-top:4px; line-height:21px; background:#7f7f7f; color:#FFF; text-align:center; font-style:normal; font-weight:bold; margin-right:15px; display:inline;}
.topTip span{ float:left; color:#474747;}
.topTip .bor{ padding-right:6px; margin-right:6px; border-right:#505050 dotted 1px; height:19px; line-height:19px; margin-top:5px; display:inline;}
.topTip .red{ color:#e00200;}

.cgMD{ background:url(../images/cg7.jpg) repeat-y;}
.cgMD tr,.cgMD td,.cgMD table{ line-height:30px; color:#1c1c1c; font-size:14px; text-align:center;}
.cgMD .t,.cgMD .t td{ background:#c91314; color:#FFF; font-weight:bold; line-height:27px;}


/*分页显示样式*/
.PageMsgBox{
	
}
.PageMsgBox span{
	padding:3px;
	color:white;
	background-color:#970906;
}

/*删除线样式*/
.del{ text-decoration:line-through;}

/*热卖排行*/
.hotList{ border:#bdbdbd solid 1px; padding:9px 0 4px 0;}
.hotList h3{ height:32px; background:url(../images/hotT.png) center 0 no-repeat; line-height:26px; text-align:center; font-size:14px; font-weight:bold; color:#FFF;}
.hotList .list{}
.hotList li{ padding:9px 0 7px 30px; line-height:25px; height:25px; overflow:hidden; border-bottom:#e6e6e6 solid 1px;}
.hotList li em{  float:left; width:27px; color:#dd1e01; text-align:center; font-family:Arial, Helvetica, sans-serif; font-size:20px;}
.hotList li img{ float:left; margin-right:8px; display:inline;}
.hotList li a{ float:left; font-size:14px; color:#666;}
.hotList .last{ border:none;}

.payjg{ left:50px; text-align:center; font-weight:bold; font-size:14px; padding:30px 0 40px 0;}
.payjg a{ color:#424242; margin:0 10px;}
.payjg a:hover{ color:#aa0000;}
.payjg2{ float:right; line-height:18px; text-align:left; font-size:12px; width:150px;}
.payjg2 a{ color:#656565;}
.payjg2 a:hover{ color:#aa0000;}

.tableBorderBotttom td{ border-bottom:#929292 dashed 1px;}
.btnRed{ background:#c9151e; border:none; border:0; color:#FFF; font-weight:bold; cursor:pointer; width:66px; height:22px; line-height:22px;}

.sghTBox{ height:33px; line-height:33px; border-bottom:#b3b0b0 solid 1px; background:url(../images/orderTb.png) repeat-x; text-align:center; font-size:14px; font-weight:bold;}
.sghTBox .diva1{ float:left; width:175px; height:33px; border-right:#b3b0b0 solid 1px;}
.sghTBox .diva2{ float:left; width:550px; height:33px; }
.sghPrice{ height:40px; line-height:40px; border-bottom:#b3b0b0 solid 1px; text-align:center; font-size:16px; font-weight:bold;}
.sghGooodsBox{ padding-top:30px; height:128px; border-bottom:#b3b3b3 dashed 1px; background:url(../images/sgjbg.png) 132px 13px no-repeat;}
.sghGooodsBox .sghList{ float:left;}
.sghGooodsBox .sghList li{ float:left; width:90px; margin:0 12px; line-height:15px; text-align:center; overflow:hidden;}
.sghGooodsBox .sghList .imgCon{ height:64px; border:#c1c1c1 solid 1px; margin-bottom:5px;}
.sghGooodsBox .sghList input{ margin-top:5px;}
.sghGooodsBox .flBox{ float:left; padding-left:19px; width:180px;}
.sghGooodsBox .frBox{ float:left; width:522px;}
.sghGooodsBox .keyL,.sghGooodsBox .keyR{ float:left; width:19px; height:26px; margin-top:23px; background:url(../images/scroll.png) no-repeat;}
.sghGooodsBox .keyL:hover{ background-position:0 -26px; text-decoration:none;}
.sghGooodsBox .keyR{ background-position:-20px 0;}
.sghGooodsBox .keyR:hover{ background-position:-20px -26px; text-decoration:none;}
.sghGooodsBox .scrollDiv{ float:left; width:456px; overflow:hidden;}
.sghGooodsBox .big{ width:800%;}

#selDianPu .ti{ height:29px; line-height:29px; border-bottom:#cecbce solid 1px;}
#selDianPu .ti div{ float:left; width:84px; text-align:center; font-size:14px; font-weight:bold; color:#d00b00; border:#cecbce solid 1px; border-bottom:none;}
#selDianPu .box{ height:150px; padding-top:5px; border-bottom:#cecbce solid 1px; margin-bottom:8px;}
#selDianPu .box a{ float:left; color:#424242; font-size:14px; line-height:30px; margin-right:40px;}
#selDianPu .btnR{ float:right; width:80px; height:29px; text-align:center; line-height:29px; color:#FFF; font-size:14px; font-weight:bold; margin-left:19px; display:inline; background:#ce1418;}



/*首页选择店铺弹窗*/
#ui-dialog-title-selDianPu{ width:560px; text-align:center;}
#selDianPu .box{ padding-left:20px; position:relative;}
#selDianPu .box a{ padding:0 2px;}
#selDianPu .box a:hover{ background:#ce0909; color:#FFF; text-decoration:none;}
#selDianPu .box .tswz{ position:absolute; line-height:20px; width:560px; left:0; bottom:0; text-align:center; color:#ce0909;}


#ui-dialog-title-DialogJcc{ width:480px; text-align:center;}