	html, body
		{
			height: 100%;
		}


		body
		{
		font: 12px 'Lucida Sans Unicode', 'Trebuchet MS', Arial, Helvetica;    
		margin: 0;
		background-color: #d9dee2;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#ebeef2), to(#d9dee2));
		background-image: -webkit-linear-gradient(top, #ebeef2, #d9dee2);
		background-image: -moz-linear-gradient(top, #ebeef2, #d9dee2);
		background-image: -ms-linear-gradient(top, #ebeef2, #d9dee2);
		background-image: -o-linear-gradient(top, #ebeef2, #d9dee2);
		background-image: linear-gradient(top, #ebeef2, #d9dee2);    
		}
		
		/*--------------------*/
		
		#login
		{
		background-color: #fff;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
		background-image: -webkit-linear-gradient(top, #fff, #eee);
		background-image: -moz-linear-gradient(top, #fff, #eee);
		background-image: -ms-linear-gradient(top, #fff, #eee);
		background-image: -o-linear-gradient(top, #fff, #eee);
		background-image: linear-gradient(top, #fff, #eee);  
		height: 240px;
		width: 400px;
		margin: -150px 0 0 -230px;
		padding: 30px;
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 0;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;  
		-webkit-box-shadow:
		0 0 2px rgba(0, 0, 0, 0.2),
		0 1px 1px rgba(0, 0, 0, .2),
		0 3px 0 #fff,
		0 4px 0 rgba(0, 0, 0, .2),
		0 6px 0 #fff,  
		0 7px 0 rgba(0, 0, 0, .2);
		-moz-box-shadow:
		0 0 2px rgba(0, 0, 0, 0.2),  
		1px 1px   0 rgba(0,   0,   0,   .1),
		3px 3px   0 rgba(255, 255, 255, 1),
		4px 4px   0 rgba(0,   0,   0,   .1),
		6px 6px   0 rgba(255, 255, 255, 1),  
		7px 7px   0 rgba(0,   0,   0,   .1);
		box-shadow:
		0 0 2px rgba(0, 0, 0, 0.2),  
		0 1px 1px rgba(0, 0, 0, .2),
		0 3px 0 #fff,
		0 4px 0 rgba(0, 0, 0, .2),
		0 6px 0 #fff,  
		0 7px 0 rgba(0, 0, 0, .2);
		}
		
		#login:before
		{
		content: '';
		position: absolute;
		z-index: -1;
		border: 1px dashed #ccc;
		top: 5px;
		bottom: 5px;
		left: 5px;
		right: 5px;
		-moz-box-shadow: 0 0 0 1px #fff;
		-webkit-box-shadow: 0 0 0 1px #fff;
		box-shadow: 0 0 0 1px #fff;
		}
		
		/*--------------------*/

        #login h1
		{
		text-shadow: 0 1px 0 rgba(255, 255, 255, .7), 0px 2px 0 rgba(0, 0, 0, .5);
		text-transform: uppercase;
		text-align: center;
		color: #666;
		margin: 0 0 30px 0;
		letter-spacing: 4px;
		font: normal 26px/1 Verdana, Helvetica;
		position: relative;
		}

        #login h1:after, h1:before
		{
		background-color: #777;
		content: "";
		height: 1px;
		position: absolute;
		top: 15px;
		width: 120px;   
		}

        #login h1:after
		{ 
		background-image: -webkit-gradient(linear, left top, right top, from(#777), to(#fff));
		background-image: -webkit-linear-gradient(left, #777, #fff);
		background-image: -moz-linear-gradient(left, #777, #fff);
		background-image: -ms-linear-gradient(left, #777, #fff);
		background-image: -o-linear-gradient(left, #777, #fff);
		background-image: linear-gradient(left, #777, #fff);      
		right: 0;
		}

        #login h1:before
		{
		background-image: -webkit-gradient(linear, right top, left top, from(#777), to(#fff));
		background-image: -webkit-linear-gradient(right, #777, #fff);
		background-image: -moz-linear-gradient(right, #777, #fff);
		background-image: -ms-linear-gradient(right, #777, #fff);
		background-image: -o-linear-gradient(right, #777, #fff);
		background-image: linear-gradient(right, #777, #fff);
		left: 0;
		}
		
		/*--------------------*/

        #login	fieldset
		{
		border: 0;
		padding: 0;
		margin: 0;
		}
		
		/*--------------------*/

        #login	#inputs input
		{
		background: #f1f1f1 url(http://www.red-team-design.com/wp-content/uploads/2011/09/login-sprite.png) no-repeat;
		padding: 15px 15px 15px 30px;
		margin: 0 0 10px 0;
		width: 353px; /* 353 + 2 + 45 = 400 */
		border: 1px solid #ccc;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		-moz-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
		-webkit-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
		box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
		}

        #login #username
		{
		background-position: 5px -2px !important;
		}

        #login	#password
		{
		background-position: 5px -52px !important;
		}

        #login	#inputs input:focus
		{
		background-color: #fff;
		border-color: #e8c291;
		outline: none;
		-moz-box-shadow: 0 0 0 1px #e8c291 inset;
		-webkit-box-shadow: 0 0 0 1px #e8c291 inset;
		box-shadow: 0 0 0 1px #e8c291 inset;
		}
		
		/*--------------------*/
        #login	#actions
		{
		margin: 25px 0 0 0;
		}

        #login	#submit
		{		
		background-color: #ffb94b;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#fddb6f), to(#ffb94b));
		background-image: -webkit-linear-gradient(top, #fddb6f, #ffb94b);
		background-image: -moz-linear-gradient(top, #fddb6f, #ffb94b);
		background-image: -ms-linear-gradient(top, #fddb6f, #ffb94b);
		background-image: -o-linear-gradient(top, #fddb6f, #ffb94b);
		background-image: linear-gradient(top, #fddb6f, #ffb94b);
		
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		
		text-shadow: 0 1px 0 rgba(255,255,255,0.5);
		
		-moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
		-webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
		box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;    
		
		border-width: 1px;
		border-style: solid;
		border-color: #d69e31 #e3a037 #d5982d #e3a037;
		
		float: left;
		height: 35px;
		padding: 0;
		width: 120px;
		cursor: pointer;
		font: bold 15px Arial, Helvetica;
		color: #8f5a0a;
		}

        #login	#submit:hover,#submit:focus
		{		
		background-color: #fddb6f;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#ffb94b), to(#fddb6f));
		background-image: -webkit-linear-gradient(top, #ffb94b, #fddb6f);
		background-image: -moz-linear-gradient(top, #ffb94b, #fddb6f);
		background-image: -ms-linear-gradient(top, #ffb94b, #fddb6f);
		background-image: -o-linear-gradient(top, #ffb94b, #fddb6f);
		background-image: linear-gradient(top, #ffb94b, #fddb6f);
		}

        #login	#submit:active
		{		
		outline: none;
		
		-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
		-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
		box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;		
		}

        #login	#submit::-moz-focus-inner
		{
		border: none;
		}

        #login	#actions a
		{
		color: #3151A2;    
		float: right;
		line-height: 35px;
		margin-left: 10px;
		}
		
		/*--------------------*/

        #login	#back
		{
		display: block;
		text-align: center;
		position: relative;
		top: 60px;
		color: #999;
		}

    /* base */

    body,p {
        font-size: 12px;
        line-height: 16px;
        font-family: "Helvetica Neue","Georgia" Helvetica, Arial, sans-serif;
    }
    #wrapper {
        background: #d0d6db;
    }
    #main {
        width: 960px;
        margin: 0px auto;
        padding: 10px 0px 30px 0px;
        min-height:400px;
    }
    #content {
        margin: 0px 272px 0px 0px;
        padding: 10px 10px 0px 0px;
    }
    #sidebar {
        width: 272px;
        padding: 10px 0px 10px 10px;
        float: right;
    }
    #footer {
        height:200px;
        clear: both;
    }
    #footer_main {
        width:920px;
        margin: 0px auto;
        color:#e2e2e2;
        padding:20px 0px;
    }

    /* custom bootstrap */
    .navbar {
        margin-bottom: 0px;
    }
    .navbar .container {
        width: 960px;
        margin: 0px auto;
    }
    .navbar .navbar-inner{
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        padding-left: 0px;
        padding-right: 0px;
        border-radius: 0px;
        background-image: none;
        background-color: #323f4b;
    }




    /* menu */
    #menu{ margin:0px; padding:0px; list-style:none; color:#fff; line-height:45px; display:inline-block; float:left; z-index:1000; }
    #menu a { color:#fff; text-decoration:none; }
    #menu > li {background:#172322 none repeat scroll 0 0; cursor:pointer; float:left; position:relative;padding:0px 10px;}
    #menu > li a:hover {color:#B0D730;}
    #menu .logo {background:transparent none repeat scroll 0% 0%; padding:0px; background-color:Transparent;}
    /* sub-menus*/
    #menu ul { padding:0px; margin:0px; display:block; display:inline;}
    #menu li ul { position:absolute; left:-10px; top:0px; margin-top:45px; width:150px; line-height:16px; background-color:#172322; color:#0395CC; /* for IE */ display:none; }
    /*#menu li:hover ul { display:block;}*/
    #menu li ul li{ display:block; margin:5px 20px; padding: 5px 0px;  border-top: dotted 1px #606060; list-style-type:none; }
    #menu li ul li:first-child { border-top: none; }
    #menu li ul li a { display:block; color:#0395CC; }
    #menu li ul li a:hover { color:#7FCDFE; }
    /* main submenu */
    #menu #main { left:0px; top:-20px; padding-top:20px; background-color:#7cb7e3; color:#fff; z-index:100;}
    /* search */
    .searchContainer div { background-color:#fff; display:inline; padding:5px;}
    .searchContainer input[type="text"] {border:none;}
    .searchContainer img { vertical-align:middle;}
    /* corners*/
    #menu .corner_inset_left { position:absolute; top:0px; left:-12px;}
    #menu .corner_inset_right { position:absolute; top:0px; left:150px;}
    #menu .last { background:transparent none repeat scroll 0% 0%; margin:0px; padding:0px; border:none; position:relative; border:none; height:0px;}
    #menu .corner_left { position:absolute; left:0px; top:0px;}
    #menu .corner_right { position:absolute; left:132px; top:0px;}
    #menu .middle { position:absolute; left:18px; height: 20px; width: 115px; top:0px;}

   /*my style*/
    /*user_info*/
    #menu #user_info_sub  { position:absolute; left:-10px; top:0px; margin-top:45px; width:200px; line-height:16px; background-color:#172322; color:#0395CC; /* for IE */ display:none; }
    #menu #user_info_sub .corner_inset_right { position:absolute; top:0px; left:200px;}
    #menu #user_info_sub .corner_left { position:absolute; left:0px; top:0px;}
    #menu #user_info_sub .corner_right { position:absolute; left:182px; top:0px;}
    #menu #user_info_sub .middle { position:absolute; left:18px; height: 20px; width: 165px; top:0px;}
    /*shopping_cart*/
    #menu #shopping_cart_sub  { position:absolute; left:-70px; top:0px; margin-top:45px; width:250px; line-height:16px; background-color:#172322; color:#0395CC; /* for IE */ display:none; }
    #menu #shopping_cart_sub .corner_inset_right { position:absolute; top:0px; left:250px;}
    #menu #shopping_cart_sub .corner_left { position:absolute; left:0px; top:0px;}
    #menu #shopping_cart_sub .corner_right { position:absolute; left:232px; top:0px;}
    #menu #shopping_cart_sub .middle { position:absolute; left:18px; height: 20px; width: 215px; top:0px;}
    /*orders*/
    #menu #orders_sub  { position:absolute; left:-200px; top:0px; margin-top:45px; width:300px; line-height:16px; background-color:#172322; color:#0395CC; /* for IE */ display:none; }
    #menu #orders_sub .corner_inset_right { position:absolute; top:0px; left:300px;}
    #menu #orders_sub .corner_left { position:absolute; left:0px; top:0px;}
    #menu #orders_sub .corner_right { position:absolute; left:282px; top:0px;}
    #menu #orders_sub .middle { position:absolute; left:18px; height: 20px; width: 265px; top:0px;}