ul
    h3 用户管理
        li
            a(href='http://localhost:8888/adm/change_customer_info') 修改用户信息
        li
            a(href='http://localhost:8888/adm/delete_customer') 删除用户
    h3 店铺管理
        li
            a(href='http://localhost:8888/adm/add_res') 新增店铺
        li
            a(href='http://localhost:8888/adm/change_res_info') 修改店铺信息
        li
            a(href='http://localhost:8888/adm/delete_res') 删除店铺