script(type='text/javascript', src='/js/adm/authority_customer_info_delete.js')
input#cus_id(type='hidden', name='cus_id',value='#{id}')
input#delete.btn(type='button', value=' 删除店铺权限 ')
#popDialog
table#authority_customer_info_table_delete
#authority_customer_info_pager_delete