script(type='text/javascript', src='/js/adm/authority_customer_info.js')
input#cus_id(type='hidden', name='cus_id',value='#{id}')
input#save.btn(type='button', value=' 添加店铺权限 ')
input#delete.btn(type='button', value=' 删除店铺权限 ')
#popDialog
table#authority_customer_info_table
#authority_customer_info_pager