
script(type="text/javascript", src="/js/customer/deal_add.js")
div#tmp
    table
        tr
            th
                菜品名
            th
                价格
            th
                数量
            th
                加入购物车
        tr
            td
                = dish.name
            td
                = dish.price
            td
                input(id="info_dish_quantity", type="text", name="quantity", value=1);
                input(id="info_dish_id", type="hidden", name="id", value="#{dish.id}")
            td
                input(id="add_deal", type="button", name="add_deal", value="加入购物车")
    div
        h4#info