
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>509订餐在线</title>
<link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon" />


</head>

<body>

<link href="css/homepage.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/jquery-1.6.3.min.js"></script>
<script type="text/javascript" src="/public/js/basic.js"></script>


<div class="topbar cc">
	<div class="wrap">
    	<div class="fl"><span class="mr20">亲,欢迎光临509订餐在线,吃点嘛?</span></div>
       	<div class="fr">
	        	<a href="/index.php/Reg/index?ac=login" class="red mr10">登录</a>
	        	<a href="/index.php/Reg/index?ac=reg" class="red">注册</a>
	        </div>
            </div>
</div>
<div class="wrap">
	<h1><a href="#" title="509订餐在线"><img src="/image/homepagelogo.png" width="350" height="90" alt="509订餐在线" class="fl" /></a></h1>
    <div class="topInfo">
    	<div class="infoH">
    	        </div>
        <div class="text">
        	<a href="/index.php/ShoppingCart/">
        	购物车中有<strong class="red">0</strong>件商品
        	</a>
        </div>
        <div class="key"><a href="/index.php/Payment/">去结算</a></div>
    </div>
</div>
<!---nav--->
<div class="nav">
	<div class="wrap">
    	<ul class="navList">
        	<li><a href="/index.php/">首页</a></li>
            <li><a href="/index.php/WuCanWaiMai/">午餐外卖</a></li>
            <li><a href="/index.php/XiaWuCha/">下午茶</a></li>
            <li><a href="/index.php/ShuiGuoHe/">水果盒</a></li>
            <li><a href="#">便利店</a></li>
            <li><a href="/index.php/JiFen/">兑积分</a></li>
        </ul>
        <ul class="keyList">
        	<!--<li><a href="/index.php/Columns/qyfw">企业服务</a></li>
        	--><li><a href="#">企业服务</a></li>
            <li><a href="/index.php/Columns/spaq">食品安全</a></li>
            <li><a href="/index.php/MemberCenter/idea">意见收集</a></li>
        </ul>
    </div>
</div>

<script type="text/javascript">
	//$(document).ready(function(){
		if(window.CurrColumnIndex){
			$(".navList li:eq("+(CurrColumnIndex-1)+")").addClass("selected");
		}else{
			$(".navList li:eq(0)").addClass("selected");
		}
	//});
</script>


<!---主体--->
<div class="wrap borderB">
	<div class="topTip" style="float:left; width:350px;"><img src="/public/images/tip4.png" class="fl" /><em>商品信息</em></div>
	<div class="gg" style="float:left; height:29px; width:609px;">
    	<span class="fl">公告：</span>
        <ul>
        	<li><span class="red">全场商品免派送费,支持货到付款.</span></li>
        </ul>
    </div>
        <!---left--->
    <div class="indexL">
    	<!---焦点图--->
        <div class="focusImg">
        	<div class="bannerScroll">
            	<ul>
                	<li id="b1"><a href="#"><img src="/public/AD/AD_index_banner_09.jpg" width="734" height="296" /></a></li>
                	<li id="b2"><a href="#"><img src="/public/AD/AD_index_banner_10.jpg" width="734" height="296" /></a></li>
                	<li id="b3"><a href="/index.php/WuCanWaiMai/"><img src="/public/AD/AD_index_banner_07.jpg" width="734" height="296" /></a></li>
					<li id="b4"><a href="#"><img src="/public/AD/AD_index_banner_08.jpg" width="734" height="296" /></a></li>
                	<li id="b5"><a href="/index.php/ShuiGuoHe/"><img src="/public/AD/AD_index_banner_06.jpg" width="734" height="296" /></a></li>
                </ul>
            </div>
            <div class="scrollNum">
            	<a href="#" class="on">1</a>
            	<a href="#">2</a>
            	<a href="#">3</a>
				<a href="#">4</a>
				<a href="#">5</a>
            	<!--<a href="#">3</a>-->
            </div>
        </div>
        <!---入口--->
        <ul class="enterList">
        	<li>
            	<h2><img src="/public/images/text1.png" /></h2>
                <div class="img">
                	<a href="/index.php/WuCanWaiMai/"><img src="/public/images/img1.jpg" /></a>
                    <a href="/index.php/WuCanWaiMai/" class="key">&nbsp;</a>
                </div>
            </li>
            <li>
            	<h2><img src="/public/images/text2.png" /></h2>
                <div class="img">
                	<a href="/index.php/XiaWuCha/"><img src="/public/images/img2.jpg" /></a>
                    <a href="#" class="key">&nbsp;</a>
                </div>
            </li>

            <li>
            	<h2><img src="/public/images/text4.png" /></h2>
                <div class="img">
                	<a href="/index.php/ShuiGuoHe/"><img src="/public/images/img4.jpg" /></a>
                    <a href="#" class="key">&nbsp;</a>
                </div>
            </li>
            <li>
            	<h2><img src="/public/images/text3.png" /></h2>
                <div class="img">
                	<a href="#"><img src="/public/images/img3.jpg" /></a>
                    <a href="#" class="key qd">&nbsp;</a>
                </div>
            </li>
        </ul>
    </div>
    <div class="indexR">
    	<a href="/index.php/Reg"><img src="/public/images/keyReg.png" class="mb8" /></a>
        <img src="/public/images/link.png" border="0" usemap="#Map" class="mb8" />
        <map name="Map" id="Map">
          <area shape="circle" coords="43,42,37" href="/index.php/Columns/psfw" title="派送范围" />
          <area shape="circle" coords="198,42,38" href="/index.php/Columns/jgyh" title="价格优惠" />
          <area shape="circle" coords="120,41,38" href="#" title="新手指南" />
        </map>
        <!---公告新闻--->
        <div class="newsBox">
        	<h3><div class="tab"><a href="#" class="selected">最新公告</a><a href="#">热门话题</a></div></h3>
            <div class="tabDiv">
            	<ul>
            		<li><a href="/index.php/Columns/zxggInfo?id=45" target="_blank">金牌会员8月抽奖公告</a></li><li><a href="/index.php/Columns/zxggInfo?id=44" target="_blank">金牌会员7月抽奖公告</a></li><li><a href="/index.php/Columns/zxggInfo?id=43" target="_blank">阜成门店订单截止时间延长</a></li><li><a href="/index.php/Columns/zxggInfo?id=42" target="_blank">永安里店开放楼宇信息公告</a></li><li><a href="/index.php/Columns/zxggInfo?id=41" target="_blank">贺！国贸永安里开店！</a></li>                </ul>
                <a href="/index.php/Columns/zxgg" class="more">更多>></a>
            </div>
            <div class="tabDiv hide">
            	<ul>
                	                </ul>
                <a href="/index.php/Columns/rmht" class="more">更多>></a>
            </div>
        </div>

    </div>
</div>


<!---预留--->
<div class="wrap">
	<div class="indexL">
    	<div class="footLink">
        	<div class="box">
            	<h3 class="ico1">使用帮助</h3>
                <ul>
                	<li><a href="/index.php/Columns/cjwt">常见问题</a></li>
                    <li><a href="/index.php/Columns/psfw">派送范围</a></li>
                    <li><a href="/index.php/Columns/pssj">派送时间</a></li>
                    <li><a href="#">购买指南</a></li>
                    <li><a href="/index.php/Columns/jgyh">价格优惠</a></li>
                </ul>
            </div>
            <div class="box">
            	<h3 class="ico2">获取更新</h3>
                <ul>
                	<li><a href="http://weibo.com/chulaichuwang" target="_blank">新浪微博</a></li>
                    <li><a href="/index.php/Columns/zxgg">最新公告</a></li>
                    <li><a href="/index.php/Columns/rmht">热门话题</a></li>
                </ul>
            </div>
            <div class="box">
            	<h3 class="ico3">客户平台</h3>
                <ul>
                	<li><a href="/index.php/Columns/khzs">客户展示</a></li>
                    <li><a href="/index.php/Columns/pphz">品牌合作</a></li>
                </ul>
            </div>
            <div class="box last">
            	<h3 class="ico4">关于厨来厨往</h3>
                <ul>
                	<li><a href="/index.php/Columns/ppjs">品牌精神</a></li>
                    <li><a href="/index.php/Columns/gsjj">公司简介</a></li>
                    <li><a href="/index.php/Columns/lxwm">联系我们</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="indexR">
    	<img src="/public/images/ad4.jpg" width="242" height="183" />
    </div>
    <div class="bottom">
    	©2011-2012 509dingcanzaixian All Rights Reserved. 509订餐在线版权所有  
    	<div style="display:none;">
    		<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F9d2bc846ca394c70e0fc4dea6675c980' type='text/javascript'%3E%3C/script%3E"));
</script>
    		
    	</div>
    </div>
    <div class="floatKey">
        <a href="#" class="gotop" title="回顶部">&nbsp;</a>
    </div>
</div>




</body>
</html>