script(type='text/javascript', src='/js/res_adm/show_dish_info.js')
input#order_id(type='hidden', name='order_id',value='#{order_id}')
input#res_id(type='hidden', name='res_id',value='#{res_id}')
//input#save.btn(type='button', value=' 添加店铺权限 ')
#popDialog
table#show_dish_info_table
#show_dish_info_pager